<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="container">
    <form action="#" th:action="@{/doLogin}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Username">
            <small id="usernameHelp" class="form-text text-muted">Username, E-mail, Phone Number</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="retUrl" name="retUrl" placeholder="retUrl" th:value="${retUrl}">
        </div>
        <div class="form-group">
            <span th:text="${errMsg}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <span th:text="${username}" /><span> vs </span><span th:text="${password}" /><span> vs </span><span th:text="${retUrl}" />-->
<!--        </div>-->
<!--    </div>-->
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>